body{

    background:#f7f8fc;

}

.list-group-item{

    border:none;

}

.list-group-item:hover{

    background:#0d6efd;
    color:white;

}

.card{

    border-radius:12px;

}


.word{

    cursor:pointer;

    padding:4px;

    margin:2px;

    display:inline-block;

    border-radius:6px;

    transition:.2s;

}

.word:hover{

    background:#0d6efd;

    color:white;

}